
/* Your CSS Code here. */
table,td,th{
	border:1px solid black;
	border-collapse:collapse;
}
.table1{
	width:100%;
}
th{
	text-align:left;
	background-color:#c0504d;
	color:white;
}
td{
	text-align:right;
}
#t1,#t2,#t3{
	text-align:left;
}