
/* Your CSS Code here. */
table,td,th{
	border:1px solid black;
	border-collapse:collapse;
}
.table1{
	width:100%;
}
th{
	text-align:left;
	background-color:#c0504d;
	color:white;
}
td{
	text-align:right;
}
#t1,#t2,#t3{
	text-align:left;
}
tbody>tr:nth-child(1){
	background-color:#da9694;
}
tbody>tr:nth-child(2){
	background-color:#f2dcdb;
}
tbody>tr:nth-child(3){
	background-color:#d9d9d9;
	
}